html,
body,
.site-container {
  min-height: 100vh;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #393E45;
}

.site-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.branding {
  max-width: 25vw;
  height: auto;
  text-align: center;
}

.branding img {
  width: 100%;
}

.branding h1 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 800;
}