:root {
  --color-bg: #FFFFFF;
  --color-text: #393e45;
  --color-text-2: #c8c9cb;
  --color-text-3: #817f81;

  --font-family: "Lato", "Arial", sans-serif;
  --font-size: 14px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-family);
  font-size: var(--font-size);
}

a {
  position: relative;
  color: var(--color-text-3);
  text-decoration: none;
}

a::after {
  position: absolute;
  content: "";
  width: 0px;
  left: 0;
  bottom: 0;
  border-bottom: 1px solid var(--color-text-3);
  visibility: hidden;
  transition: .5s ease-in-out 0s;
}

a:hover::after {
  visibility: visible;
  width: 100%;
}

h1,
h2 {
  text-transform: uppercase;
}

h1 {
  font-size: 3em;
}

h2,
ul {
  margin-bottom: .75em;  
}

h2 {
  border-bottom: .05em solid var(--color-text);
}

h3 {
  margin-bottom: .25em;
}

li {
  list-style: none;
}

ul,
p {
  color: var(--color-text-3);
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.sidebar {
  background-color: var(--color-text);
  color: var(--color-bg);
  display: grid;
  grid-gap: 1em;
  align-content: start;
  padding: 2em;
}

.sidebar p {
  color: var(--color-text-2);
}

.logo:not(.logo-wide) {
  display: none;
}

main {
  display: grid;
  grid-gap: 2em;
  align-content: start;
  padding: 2em;
}

.section-header {
  border-bottom: .1em solid var(--color-text);
}

.portfolio {
  column-gap: 2em;
}

.portfolio > * {
  margin: 0 0 2em 0;
}

footer {
  text-align: center;
  padding: .5rem;
}

footer a {
  font-weight: bold;
  margin-bottom: .25em;
}

footer p {
  font-size: .7rem;
}

@media only screen and (min-width: 768px) {
  .portfolio {
    columns: 2;
  }
}

@media only screen and (min-width: 1024px) {
  html,
  body,
  .wrapper {
    height: 100%;
  }

  .wrapper {
    display: grid;
    grid-template-columns: 320px 1fr;
    grid-template-rows: 1fr minmax(0, auto);
    margin: 0;
  }

  .sidebar,
  main {
    padding: 2em;
  }

  .sidebar {
    grid-row: 1 / 2;
  }

  .logo:not(.logo-wide) {
    display: block;
  }

  .logo-wide {
    display: none;
  }

  main {
    overflow-y: auto;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
  }

  .sidebar,
  footer {
    background-color: var(--color-text);
    color: var(--color-bg);
  }

  .sidebar {
    margin: 0;    
  }

  .sidebar a,
  .sidebar ul,
  .sidebar p,
  footer a,
  footer p {
    color: var(--color-text-2);
  }

  .sidebar a::after {
    border-color: var(--color-text-2);  
  }

  .portfolio {
    columns: 3;
  }
}

@media only screen and (min-width: 1500px) {
  .portfolio {
    columns: 4;
  } 
}