:root {
  --color-gray: #393E45;

  --font-family: 'Montserrat', sans-serif;
  --font-size: 1rem;
}


@media print {
  :root {
    --font-size: 8pt;
  }
}


/* Basic reset, this page doesn't have a need for anything fancy */
* {
  margin: 0;
  padding: 0;
}

*,
::before,
::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  color: var(--color-gray);
  text-align: left;
  word-wrap: break-word;
  word-break: break-word;
}

a {
  color: var(--color-gray);
  text-decoration: underline;
}

@media print {
  a {
    text-decoration: none;
  }
}

ul {
  /* margin: 0 0 4em; */
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block-end: .5em;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  text-decoration: none;
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 3.3rem;
  font-weight: 800;
  text-transform: uppercase;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
}

h3 {
  font-size: 1.1rem;
  font-weight: 600;
}

h4 {
  font-size: 1rem;
  font-weight: 600;
}

@media print {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: .8rem;
  }

  h4 {
    font-size: .7rem;
  }
}

.entry + .entry {
  margin-block-start: 2em;
}

@media print {
  .entry + .entry {
    margin-block-start: 1em;  } 
}

@media (min-width: 48em), print {
  .entry {
    display: grid;
    grid-template-columns: 10ch 1fr;
    justify-items: start;
    gap: 0 1em;
    align-items: start;
  }

  .entry > * {
    grid-column: 2;
  }

  .entry__date {
    grid-column: 1;
  }

  .entry__title {
    margin: 0;
  }

  .entry__description {
    margin-block-start: 0.5em;
  }
}

@media print {
  .entry__link::before {
    content: "https://";
  }
}

/* Site layout */
.site-container {
  padding-inline: max(1rem, calc((100% - 1024px) / 2));
}

@media (min-width: 48em), print {
  .site-container {
    display: grid;
    grid-template-columns: 26ch 1fr;
    grid-template-areas: 
      "header header"
      "about about"
      "education experience"
      "skills projects"
      "languages certifications"
    ;
    gap: 0 4em;
  }
}

.site-container > * {
  padding-block: 2em;
}

@media print {
  .site-container > * {
    padding-block: 1em;
  }
}

/* Site header */
.site-header {
  display: grid;
  border-block-end: 0.128rem solid var(--color-gray);
  gap: 1em;
  grid-area: header;
}

.site-title {
  margin: 0;
}

.site-tagline {
  text-transform: uppercase;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.links a {
  text-decoration: none;
}

.links a i {
  margin-inline-end: 1em;
  width: 1.2em;
}

@media (min-width: 48em), print {
  .site-header {
    grid-template-columns: 1fr minmax(0, auto);
    gap: 0 1em;
    align-items: end;
  }

  .site-title,
  .site-tagline {
    grid-column: 1;
  }

  .links {
    grid-row: 1 / 3;
    grid-column: 2;
  }
}

/* About */
.about {
  grid-area: about;
}

/* Experience */
.experience {
  grid-area: experience;
}

/* Projects*/
.projects {
  grid-area: projects;
}

/* Education */
.education {
  grid-area: education;
}

@media (min-width: 48em), print {
  .education .entry {
    display: flex;
    flex-direction: column;
  }
}

/* Certifications */
.certifications {
  grid-area: certifications;
}

/* Skills */
.skills {
  grid-area: skills;
}

/* Languages */
.languages {
  grid-area: languages;
}